{% extends "testApp/base.html" %}


{% block content %}
{% if question_list%}
{% for eachquestion in question_list %}
<H1>{{eachquestion.level}}</H1>
<li>1){{eachquestion.q1}}</li>
<li>2){{eachquestion.q2}}</li>
<li>3){{eachquestion.q3}}</li>
<li>4){{eachquestion.q4}}</li>
{% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <h1>Definitions</h1>
    {{ form.as_p}}
    <input type="submit" value="Submit">
</form>

<h1>Vocab Bank </h1>
{% if vocab_list%}
{% for eachword in vocab_list %}

<li>{{eachword.w4}}</li>
<li>{{eachword.w1}}</li>
<li>{{eachword.w2}}</li>
<li>{{eachword.w3}}</li>
{% endfor %}
{% endif %}


{% endblock %}


{% block navi %}

<li class="logout" align="right">
    <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
</li>

{% endblock %}


{% block clock %}
{% if question_list%}
{% for eachquestion in question_list %}

timerx = {{eachquestion.timeSetter}};

<script>
    var test = moment().add(, 'm');
    // Update the count down every 1 second
    var x = setInterval(function() {


        var currentTime = test.countdown().toString();

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = currentTime;

        // If the count down is over, write some text
        if (document.getElementById("demo").innerText === "") {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

<h1 id="demo"></h1>

{% endfor %}
{% endif %}

{% endblock %}