{% extends "testApp/base.html" %}
{% block content %}
<h1>test2222!!!!!</h1>
<h1>Definition</h1>
{% if question_list%}
{% for eachquestion in question_list %}
{{eachquestion.q1}}
{{eachquestion.q2}}
{{eachquestion.q3}}
{{eachquestion.q4}}
{% endfor %}


{% else %}

<p>Please login to see this page.</p>
{% endif %}
{% endblock %}


{% block clock %}

<script>
    // Set the date we're counting down to
    var countDownDate = moment().add(10, 'm').toDate();
    console.log(countDownDate.format('LTS'));

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds

        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

<h1 id="demo"></h1>

{% endblock %}


{% block navi %}

<li class="logout" align="right">
    <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
</li>

{% endblock %}