{% extends "testApp/base.html" %}
{% block content %}
<h1>test2222!!!!!</h1>
<h1>Definition</h1>
{% if question_list%}
{% for eachquestion in question_list %}
{{eachquestion.q1}}
{{eachquestion.q2}}
{{eachquestion.q3}}
{{eachquestion.q4}}
{% endfor %}


{% else %}

<p>Please login to see this page.</p>
{% endif %}
{% endblock %}


{% block clock %}

<script>
    var test = moment().add(5, 'm');
    // Update the count down every 1 second
    var x = setInterval(function() {


        var currentTime = test.countdown().toString();

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = currentTime;

        // If the count down is over, write some text
        if (document.getElementById("demo").innerText === "") {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000)
</script>

<h1 id="demo"></h1>

{% endblock %}


{% block navi %}

<li class="logout" align="right">
    <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
</li>

{% endblock %}